body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  
//fonts
.sitefont {
    font-family: $sitefont;
}

.brewjarfont {
    font-family: $brewjarfont;
}

//header
.header {
    background-color: $white;
    padding: 50px;
    margin-bottom: 10px;
}

//icons & images
.icon {
    @extend %icon;
}

//buttons
.col.s12>.btn {
    width: 50%;
}

//alignment, padding & margins
.left {
    float: left;
    padding-left: 10px;
}

.right {
    float: right;
    padding-right: 10px;
}

.center-text {
    text-align: center;
}

.spacer {
    padding: 5px;
}

.half-width {
    width: 50%;
}

.medium-padding-top {
    margin: 50px;
}

.light-padding-top {
    padding-top: 20px;
}

//backgrounds
.greybackground {
    background-color: $grey;
    padding: 20px;
    margin: 20px;
}
