{% extends 'base.html' %}{% block content %}
<h4 class='brewjarfont center-text'>Add Brew Profile</h4>

<form action="{{url_for ('insert_brew')}}" method="POST" class="col s12 sitefont greybackground">
    <div class="row">
        <div class="input-field col s12 m6 l6 xl6 icon">
            <i class="material-icons prefix">label</i>
            <input id="recipe_name" name="recipe_name" type="text" class="validate">
            <label for="icon_prefix">Recipe Name</label>
        </div>
        <div class="input-field col s12 m6 l6 xl6 icon">
            <i class="material-icons prefix">label</i>
            <input id="recipe_decription" name="recipe_description" type="tel" class="validate">
            <label for="icon_telephone">Author Name</label>
        </div>
    </div>
    <div class='row'>
        <div class="input-field col s12 m6 l6 xl6">
            <select id='cat-name' name='cat-name'>
              <option value="" disabled selected>Choose your brew type</option>
              <option value="1">Beer</option>
              <option value="2">Wine</option>
              <option value="3">cider</option>
              <option value="4">liquer</option>
              <option value="5">tea</option>
              <option value="6">tincture</option>
              <option value="7">cordial</option>
              <option value="8">kombucha</option>
            </select>
            <label>Alcohol or Botanical?</label>
        </div>
        <div class="input-field col s12 m6 l6 xl6">
            <select id='style' name='style' multiple>
              <option value="" disabled selected>Chooose a style type</option>
              <option value="1">red wine</option>
              <option value="2">white wine</option>
              <option value="3">sparking wine</option>
              <option value="4">IPA</option>
              <option value="1">lager</option>
              <option value="2">pilsner</option>
              <option value="3">sparking wine</option>
              <option value="4">ale</option>
              <option value="1">porter</option>
              <option value="2">stout</option>
              <option value="3">infiltered cider</option>
              <option value="4">dry cider</option>
              <option value="1">sweet cider</option>
              <option value="2">medicinal brew</option>
              <option value="3">ayurvedic brew</option>
              <option value="4">other</option>
            </select>
            <label></label>
        </div>
    </div>
    <div class='row'>
        <div class="input-field col s12 m6 l6 xl6">
            <select id='flavour' name='flavour' multiple>
              <option value="" disabled selected>Choose relevant option(s) below</option>
              <option value="1">tart</option>
              <option value="2">bitter</option>
              <option value="3">sweet</option>
              <option value="4">hoppy</option>
              <option value="5">malty</option>
              <option value="6">fruity</option>
              <option value="7">spicy</option>
              <option value="8">smokey</option>
              <option value="1">roasted</option>
              <option value="2">silky</option>
              <option value="3">mellow</option>
              <option value="4">rich</option>
              <option value="5">bold</option>
              <option value="6">crisp</option>
              <option value="7">herbaceous</option>
              <option value="8">complex</option>
              <option value="1">citrus</option>
              <option value="2">other</option>
            </select>
            <label>Add flavour profile</label>
        </div>
        <div class="input-field col s12 m6 l6 xl6">
            <select id='level' name='level'>
              <option value="" disabled selected>Rate this recipe by difficulty</option>
              <option value="1">beginner</option>
              <option value="2">intermediate</option>
              <option value="3">advanced</option>
            </select>
            <label>Add brewing level</label>
        </div>
    </div>
    <div class='row'>
        <div class="input-field col s12 m6 l6 xl6">
            <select id='region' name='region'>
              <option value="" disabled selected>Choose relevant option</option>
              <option value="1">Ireland</option>
              <option value="2">British Isles</option>
              <option value="3">Western Europe</option>
              <option value="4">Eastern Europe</option>
              <option value="1">Central Europe</option>
              <option value="2">North American</option>
              <option value="3">Pacific</option>
              <option value="4">Other</option>
            </select>
            <label>Add region</label>
        </div>
        <div class="input-field col s12 m6 l6 xl6">
            <select id='method' name='method' multiple>
              <option value="" disabled selected>Chooose relevant</option>
              <option value="1">fermentation</option>
              <option value="2">infusion</option>
              <option value="3">extraction</option>
              <option value="4">glycerite</option>
              <option value="1">decoction</option>
              <option value="2">other</option>
            </select>
            <label>Add brewing method</label>
        </div>
    </div>
    <div class='row'>
        <div class="input-field col s12 m6 l6 xl6">
            <select id='free-from' name='free-from' multiple>
              <option value="" disabled selected>Choose any relevant options</option>
              <option value="1">gluten-free</option>
              <option value="2">dairy-free</option>
              <option value="3">wheat-free</option>
              <option value="4">egg-free</option>
            </select>
            <label>Add allergen profile</label>
        </div>
        <div class="input-field col s12 m6 l6 xl6">
            <select id='style' name='style' multiple>
              <option value="" disabled selected>choose ABV for alcoholic brews</option>
              <option value="1">0% ABV</option>
              <option value="2">4% ABV</option>
              <option value="3">4 - 6% ABV</option>
              <option value="4">6 - 9% ABV</option>
              <option value="1">9 - 12% ABV</option>
              <option value="2">12%+ ABV</option>
              <option value="3">15%+ ABV</option>
              <option value="4">20%+ ABV</option>
              <option value="1">40%+ ABV</option>
              <option value="2">60%+ ABV</option>
              <option value="" disabled selected>choose medicinal properties for botanical brews</option>
              <option value="3">mood elevator</option>
              <option value="4">relaxant</option>
              <option value="1">sleep-inducing</option>
              <option value="2">detox</option>
              <option value="3">cleanser / tonic</option>
              <option value="4">anti-inflammatory</option>
              <option value="4">antacid</option>
              <option value="1">digestive</option>
              <option value="2">energy elevator</option>
              <option value="3">pain-relief</option>
              <option value="4">immune booster</option>
              <option value="3">circulation stimulant</option>
              <option value="4">vitamin booster</option>
            </select>
            <label>Add brew properties</label>
        </div>
    </div>
    <div class='row center-text'>
        <a href="{{url_for ('add_recipe')}}"><button class='mainbutton' type="submit" id="filterform" name="filterform">Add Recipe Profile<br>
            <i class="material-icons">local_drink</i></button></a>
    </div>
</form>
{% endblock %}
