{% extends 'base.html' %}{% block content %}
<div class="row"></div>
<div class="row"></div>
<h4 class='brewjarfont center-text'>Add Brew Recipe</h4>

<form action="{{url_for ('insert_brew')}}" method="POST" class="col s12 sitefont greybackground">
    <div class="row">
        <div class="input-field col s12 m12 l12 xl12">
            <i class="material-icons prefix">subject</i>
            <textarea id="equip_list" name="equip_list" type="text" class="validate">
            </textarea>
            <label for="icon_prefix">Add equipment list</label>
        </div>
        <div class="input-field col s12 m12 l12 xl12">
            <i class="material-icons prefix">subject</i>
            <textarea id="ingredients_list" name="ingredients_list" type="text" class="validate"></textarea>
            <label for="icon_prefix">Add ingredients list</label>
        </div>
    </div>
    <div class='row'>
        <div class="input-field col s12 m12 l12 xl12">
            <i class="material-icons prefix">subject</i>
            <textarea id="prep-method" name="prep-method" type="tel" class="validate"></textarea> 
            <label for="icon_telephone">Add preparation instruction</label>
        </div>
    </div>
    <div class='row center-text'>
        <a href="{{url_for ('add_recipe')}}"><button class='mainbutton' type="submit" id="addbrew" name="addbrew">Add Recipe<br>
            <i class="material-icons">add_circle</i></button></a>
    </div>
</form>
{% endblock %}
