<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" type="text/css" />

</head>

<body>
    <header class='header'>
        <div class='row left'>
            <div class='col s6 m6 l6 xl 6'>
                <a href="{{url_for ('home')}}">
                    <div class="row">
                        <div class="col s6 m4 l4 xl4">
                            <img class='responsive-img circle' src='{{ url_for("static", filename="images/brewjar_jar.png") }}' alt="Brewjar Icon">
                            </img>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row right">
            <div class='col s6 m6 l6 xl 6 icon right'><i class="fas fa-user-circle fa-3x"></i>
                <br>{{ username }}</div>
        </div>
    </header>
    <main>
        <div class=container>
            {% block content %} {% endblock %}
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('select').formSelect();
                $('.sidenav').sidenav();
                $('.collapsible').collapsible();
            });
        </script>
    </main>
    <footer class='page-footer footer-style spacer' style='background-color:#2CACB0;'><strong>Brewjar App 2018&copy</strong> | a project for CI Dublin</footer>
</body>

</html>
