{% extends 'base.html' %}{% block content %}

<h5 class='center-text brewjarfont'>Your Brew Results</h5>
{{ filter_results }}
{% for brew in filter_results %}

<div class='greybackground'>
    <div class='row'>
        <div class='col s2 m2 l2 xl2'>hello</div>
        <div class='col s5 m5 l5 x5'>{{ brew.recipe_profile.recipe_name }}</div>
        <div class='col s2 m2 l2 xl2'><a href='/'><i class="far fa-layer-plus"></i></a></div>
        <div class='col s2 m2 l2 xl2'><a href='/'><i class="fal fa-thumbs-up"></i></a></div>
    </div>
    <div class='row'>
        <div class='col s12 m12 l12 xl12'>{{ brew.recipe_profile.recipe_description }}</div>
    </div>
</div>

{% endfor %}
{% endblock %}
