{% extends 'base.html' %}{% block content %}

<div class="row sitefont center-text">
    <div class="col s12 m12 lg12 xl12">
        <h4 class='sitefont'>Become a Brewjarista</h4>
    </div>
</div>

<div class="row sitefont center-text">
    <div class="col s12 m12 lg12 xl12">
        <p>Sign into an easy brewing environment all of your own,<br>where you can manage and share recipes!
        </p>
    </div>
</div>
<br>
<div class="row">
    <div class="col s12 m12 lg12 xl12">
        <img src='/images/brew_jar.png' alt='brewjar-icon'>
    </div>
</div>
<br>
<div class="row greybackground sitefont center-text">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12 m12 lg12 xl12">
                <i class="material-icons prefix">account_circle</i>
                <input id="username" placeholder="username" name="username" type="text" value="{{
          request.form.username }}" class="validate">
                <label for="icon_prefix">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m12 lg12 xl12">
                <i class="material-icons prefix">stars</i>
                <input id="email" placeholder="email" name="email" type="text" value="{{
          request.form.email }}" class="validate">
                <label for="icon_email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m12 lg12 xl12">
                <i class="material-icons prefix">stars</i>
                <input id="password" placeholder="password" name="password" type="text" value="{{
          request.form.password }}" class="validate">
                <label for="icon_password">Password</label>
            </div>
        </div>
</div>
<div class='row center-text'>
    <button class="mainbutton" type="submit" id="add_user" name="add_user">Create Account
                <i class="material-icons">playlist_add</i>
            </button>
</div>
</form>
</div>


{% endblock%}
