{% extends 'base.html' %}{% block content %}

<h5 class='center-text brewjarfont'>What type of brew are you looking for today?</h5>

<form action="{{url_for ('get_filter_results')}}" method="POST" class="col s12 sitefont greybackground">
    <div class='row'>
        <div class="input-field col s12">
            <select id='brew-type' name='brew-type' multiple >
              <option value="" disabled selected>Alcohol or Botanical?</option>
              <option value="1">Beer</option>
              <option value="2">Wine</option>
              <option value="3">cider</option>
              <option value="4">liquer</option>
              <option value="5">tea</option>
              <option value="6">tincture</option>
              <option value="7">cordial</option>
              <option value="8">kombucha</option>
            </select>
            <label>Choose your option(s)</label>
        </div>
    </div>
    <div class='row'>
        <div class="input-field col s12">
            <select id='stuff-free' name='stuff-free' multiple>
              <option value="" disabled selected>Stuff-free?</option>
              <option value="1">gluten-free</option>
              <option value="2">dairy-free</option>
              <option value="3">wheat-free</option>
              <option value="4">egg-free</option>
            </select>
            <label>for those with allergies..</label>
        </div>
    </div>
    <div class='center-text'>
        <p>Sort By</p>
        <label>
          <input class="with-gap" id ="sortby" name="sortby" type="radio"/>
          <span>Upvotes</span>
        </label>
        <label>
          <input class="with-gap" id ="sortby" name="sortby" type="radio"/>
          <span>Recently Added</span>
        </label>
        <label>
          <input class="with-gap" id ="sortby" name="sortby" type="radio"/>
          <span>Most Relevant</span>
        </label>
    </div>
    <div class='center-text'>
        <p>Brewing Level</p>
        <label>
          <input class="with-gap" id='level' name="level" type="radio"/>
          <span>Easy</span>
        </label>
        <label>
          <input class="with-gap" id='level' name="level" type="radio"/>
          <span>Intermediate</span>
        </label>
        <label>
          <input class="with-gap" id='level' name="level" type="radio"/>
          <span>Advanced</span>
        </label>
    </div>
    <br class='spacer'>
    <div class='row center-text'>
        <a href="{{url_for ('add_recipe')}}"><button class='mainbutton' type="submit" id="filterform" name="filterform">Find Recipes<br>
            <i class="material-icons">local_drink</i></button></a>
    </div>
</form>

{% endblock %}
