{% extends 'base.html' %}{% block content %}

<h5 class='center-text brewjarfont'>What type of brew are you looking for today?</h5>

<form action="{{url_for ('get_filter_results')}}" method="POST" class="col s12 sitefont greybackground">
    <div class='row'>
      <p>*Select values for all fields!</p>
        <div class="input-field col s12">
            <select id='brew-type' name='brew-type'>
              <option value="" disabled selected>Alcohol or Botanical?</option>
              <option value="beer">beer</option>
              <option value="wine">wine</option>
              <option value="cider">cider</option>
              <option value="liquer">liquer</option>
              <option value="tea">tea</option>
              <option value="tincture">tincture</option>
              <option value="cordial">cordial</option>
              <option value="kombucha">kombucha</option>
            </select>
            <label>Choose your option(s)</label>
        </div>
    </div>
    <div class='row'>
        <div class="input-field col s12">
            <select id='stuff-free' name='stuff-free'>
              <option value="" disabled selected>Stuff-free?</option>
              <option value="gluten-free">gluten-free</option>
              <option value="dairy-free">dairy-free</option>
              <option value="wheat-free">wheat-free</option>
              <option value="egg-free">egg-free</option>
            </select>
            <label>for those with allergies..</label>
        </div>
    </div>
    <div class='center-text'>
        <p>Sort By</p>
        <label>
          <input class="with-gap" id ="sortby" name="sortby" type="radio"/>
          <span>Upvotes</span>
        </label>
        <label>
          <input class="with-gap" id ="sortby" name="sortby" type="radio"/>
          <span>Recently Added</span>
        </label>
        <label>
          <input class="with-gap" id ="sortby" name="sortby" type="radio"/>
          <span>Most Relevant</span>
        </label>
    </div>
    <div class='center-text'>
        <p>Brewing Level</p>
        <label>
          <input class="with-gap" value='beginner' id='level' name="level" type="radio"/>
          <span>beginner</span>
        </label>
        <label>
          <input class="with-gap" value='intermediate' id='level' name="level" type="radio"/>
          <span>intermediate</span>
        </label>
        <label>
          <input class="with-gap" value='advanced' id='level' name="level" type="radio"/>
          <span>advanced</span>
        </label>
    </div>
    <br class='spacer'>
    <div class='row center-text'>
        <a href="{{url_for ('get_filter_results')}}"><button class='mainbutton' type="submit" id="filterform" name="filterform">Find Recipes<br>
            <i class="material-icons">local_drink</i></button></a>
    </div>
</form>

{% endblock %}
