{% extends 'base.html' %}{% block content %}


<div class="row">
    <div class="col s12 m12 l12 x12">
      <h6 class='brewjarfont center-text'>Hi {{ username | title}}</h6>  
    </div>
</div>

<div class='greybackground'>
    <div class='row center'>
        <div class='col s12 m6 l6 xl6 bigbutton'>
            <a href="{{url_for ('choose_a_brew')}}"><i class="fas fa-wine-glass-alt fa-3x"></i></a>
            <p class='sitefont'>Browse Brews</p>
        </div>

        <div class='col s12 m6 l6 xl6 bigbutton'>
            <a href="{{url_for ('add_profile')}}"><i class="fas fa-glass-martini fa-3x"></i></a>
            <p class='sitefont'>Create a Brew</p>
        </div>
    </div>
    <div class='row center'>
        <div class='col s12 bigbutton'>
            <a href="{{url_for ('my_brews')}}"><i class="fas fa-leaf fa-3x"></i></a>
            <p class='sitefont'>My Brews</p>
        </div>
    </div>
</div>

{% endblock %}
