{% extends 'base.html' %}{% block content %}
<head>
    <title>Login Page</title>
</head>

<div class="row">
    <div class="col s12 m12 lg12 xl12">
        <h4 class='sitefont center-text'>Welcome Back!</h4>
    </div>
</div>
<br>
<div class="row sitefont greybackground center-text">
    <form class="col s12" method="POST" action='{{url_for("login")}}'>
        <div class="row">
            <div class="input-field col s12 m12 l12">
                <i class="material-icons prefix">account_circle</i>
                <input id="username" placeholder='username' name='username' type="text" value="{{
          request.form.username }}" class="validate">
                <label for="icon_prefix">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m12 l12">
                <i class="material-icons prefix">stars</i>
                <input id="password" placeholder='password' name='password' type="text" value="{{
          request.form.password }}" class="validate">
                <label for="icon_password">Password</label>
            </div>
        </div>
        <div class='row center-text'>
            <button class="mainbutton" type="submit" id="signin" name="signin">Sign In
                <br>
                <i class="material-icons">playlist_add</i>
            </button>
        </div>
    </form>
</div>



{% endblock %}
