 {% extends 'base.html' %}{% block content %}

<!---navigation--->

<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="beerIcon.png">
            </div>
            <a href="#user"><img class="circle" src="{{ userimage }}"></a>
            <a href="#name"><span class="white-text name">{{ username }}</span></a>
            <a href="#email"><span class="white-text email">{{ email }}</span></a>
        </div>
    </li>
    <li><a href="{{url_for('add_profile')}}"><i class="material-icons">add</i>Add Brew</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a href="#!"><i class="material-icons">minimize</i>Delete Brew</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a href="#!"><i class="material-icons">edit</i>Edit Brew</a></li>
</ul>
<ul id="slide-out" class="sidenav">
    <li><a class="sidenav-close" href="#!">Clicking this will close Sidenav</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>

<!---homepage--->
{# access the user collection where user recipes should be stored #}
<div class="row">
    <div class="col">
        <h4 class='sitefont'>My Brews Recipe Store</h4>
    </div>
</div>

{% for brew in recipe_doc %} {% for k, v in brew.items() %} {% if k == 'recipe_profile' %}

<div class="row">
    <div class="col s12 m12 l6 xl6">
        <ul class="collapsible popout valign-wrapper">
            <li>
                <div class="collapsible-header greybackground sitefont"><i class="material-icons">favorite_border</i>
                    <h5>{{ v.recipe_name | title }}</h5>
                </div>
                <div class="collapsible-body greybackground sitefont"><span><strong>{{ v.recipe_description[0]| upper }}{{ v.recipe_description[1:] }}</strong>
                </span> 
                    <h6 class='sitefont'>Equipment List</h6>
                    {% for equip_list in v.recipe.equip_list %}
                        <p> {{ loop.index }}{{ (". ") + equip_list[0] | upper }}{{equip_list[1:] }}</p>
                    {% endfor %} 
                    <h6>Ingredients</h6>
                    {% for ingredients_list in v.recipe.ingredients_list %}
                        <p> {{ loop.index}}{{ (". ") + ingredients_list }}</p>
                    {% endfor %} 
                    <h6>Preparation</h6>
                    {% for preparation in v.recipe.prep_method %}
                        <p> {{ loop.index }}{{ (". ") + preparation[0] | upper }}{{ preparation[1:]}}</p>
                    {% endfor %} 
                </div>
            </li>
        </ul>
    </div>
</div>

{% endif %} {% endfor %} {% endfor %} {% endblock %}
 